

body{
  margin: 0;
  text-align: center;
  background-color: #184d47;
}

.Im-Ed{
  font-family: 'Satisfy', sans-serif;
  font-size: 6.4em;
  margin: auto 0 auto;
  color: #f8f5f1;
}

.welcome-to-my-world{
  font-family: 'Ruslan Display', sans-serif;
  color: #f8f5f1;
  font-size: 2rem;
}

.literature-lover{
  font-family: 'Ropa Sans', sans-serif;
  color: #f8f5f1;
}

.MSc{
  font-family: 'Fredoka One', sans-serif;
  color: #f8f5f1;
}

.web-dev{
  font-family: 'Ropa Sans', sans-serif;
  color: #f8f5f1;
}

.creative-writing{
  font-family: 'Fredoka One', sans-serif;
  color: #f8f5f1;
}

.undergrad{
  font-family: 'Ropa Sans', sans-serif;
  color: #f8f5f1;
}

.get-in-touch{
  font-family: 'Satisfy', sans-serif;
  color: #f8f5f1;
}

.reach-me{
  font-family: 'Ropa Sans', sans-serif;
  color: #f8f5f1;
  background-color: #184d47;
}
.profile{
  background-color: #184d47
}


.My-Skills{
  font-family: 'Satisfy', sans-serif;
  color: #f8f5f1;
}

.top-container{
  background-color: #184d47;
  position: relative;
  padding-top: 158px;
}

.middle-container{
  background-color: #184d47;
}

.bottom-container{
  background-color: #184d47;
}

.contact-me{
  background-color: #184d47;
}

.star{
  width: 200px;
  height: 200px;
  position: absolute;
  right: 200px;
  top: 150px;
}

.moon{
  width: 200px;
  height: 200px;
  position: absolute;
  left: 200px;
  top: 200px;
}

.castle{
  width: 200px;
  height: 340px;
}

.telescope{
  width: 50px;
  height: 50px;
}

.skill-row{
  width: 50%;
  margin: auto;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.marketing{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.book{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.ed-pic{
  padding-top: 30px;
  padding-bottom: 15px;
  width: 8%;
}

hr {
  background-color: #f8f5f1;
  border-style: none;
  height: 2px;
  width: 10%;
}

.footer{
  font-size: 1.5rem;
  color: #f8f5f1;
  margin: auto 0 auto;
  font-family: 'Ropa Sans' sans-serif;
}

.footer-link{
  color: #f8f5f1;
  margin: auto 8 auto;
}
